.btn-modifica{
    margin-left: 15px;
}
.btn-alta{
    margin-left: 15px;
}
.selectpicker-primary{
    padding-top: 0!important;
    padding-bottom: 10px !important;
    border: 0 !important;
}

.dataTables_filter input{
    border-bottom: 1px solid gray;
    box-shadow: 0 4px 3px -3px gray;
    border-radius: 0;
    height: 34px;
}

.dataTables_filter input:focus{
    border-bottom: 1px solid gray;
    box-shadow: 0 4px 3px -3px gray;
    border-radius: 0;
}

